<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eviworld.spark.snapcamera.overlay"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="30"
        android:targetSdkVersion="30" />

    <overlay
        android:isStatic="true"
        android:priority="999"
        android:targetPackage="org.lineageos.snap" />

    <application
        android:hasCode="false"
        android:label="Spark Snap Camera Overlay" />
</manifest>
